{% extends "layout/layout.html" %}

{% block title %}
Set New Password
{% endblock title %}

{% block content %}

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
        <div
            class="border border-b border-l border-grey-light  lg:border-t lg:border-grey-light bg-white rounded-b  lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
                <h1 class="text-2xl text-indigo-500">Set a New Password.</h1>
                {% if validlink %}



                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}

                    {{ field }}
                    {% if field.errors %}
                    <div class="bg-red-100 border mb-4 border-red-400 text-red-700 px-4 py-3 rounded relative"
                        role="alert">
                        <span class="block sm:inline">{{ field.errors }}</span>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                            <svg class="fill-current h-6 w-6 text-red-500" role="button"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <title>Close</title>
                                <path
                                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                            </svg>
                        </span>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <button type="submit"
                        class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                        <span class="inline-block mr-2">Submit</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="w-4 h-4 inline-block">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg>
                    </button>
                </form>
                {% else %}
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                    password reset.</p>
                {% endif %}
            </div>

        </div>

    </div>
</section>


{% endblock content %}
{% block script %}
<script>
    document.getElementById('id_new_password1').classList.add('border', 'rounded-lg', 'px-3', 'py-2', 'mt-1', 'mb-5', 'text-sm', 'w-full')
    document.getElementById('id_new_password2').classList.add('border', 'rounded-lg', 'px-3', 'py-2', 'mt-1', 'mb-5', 'text-sm', 'w-full')
    document.getElementById('id_new_password1').setAttribute('placeholder', 'New Password')
    document.getElementById('id_new_password2').setAttribute('placeholder', 'Confirm Password')
</script>
{% endblock script %}