{% extends "layout/layout.html" %}

{% block title %}
Password reset Complete
{% endblock title %}

{% block content %}

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
        <div
            class="border border-b border-l border-grey-light  lg:border-t lg:border-grey-light bg-white rounded-b  lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
                <h1 class="text-2xl text-indigo-500">Password Reset Completed</h1>
                <p class="mt-5">Your New Password has been set. Now You can <a href="/">Login</a>
                </p>




            </div>

        </div>

    </div>
</section>


{% endblock content %}
{% block script %}

{% endblock script %}