{% extends "layout/layout.html" %}

{% block title %}
Create Blog
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 shadow p-4 mt-5 mb-5" style="margin: 0 auto;">

            <h2 class="text-center">Create Blog</h2>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="">
                    {{ field.errors }}


                    <label class=""> {{field.label_tag }}</label><br>
                    {{ field }}
                </div>

                {% endfor %}

                <button type="submit" class="btn btn-primary mt-4">Save</button>
            </form>
        </div>
    </div>
    </section>
    {% endblock content %}