{% extends "layout/layout.html" %}

{% block content %}



<section id="contact" class="contact">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <h3><span>About Us</span></h3>
        </div>
        <div style="text-align: center; margin-bottom: 20px;">
            <img src="/media/about.png" height="400" alt="">
        </div>
        <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero obcaecati provident minus recusandae
                molestias? Dolore recusandae numquam rerum, dicta magni at quaerat id necessitatibus cum, ipsam neque
                atque iure quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero obcaecati provident
                minus recusandae
                molestias? Dolore recusandae numquam rerum, dicta magni at quaerat id necessitatibus cum, ipsam neque
                atque iure quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero obcaecati provident
                minus recusandae
                molestias? Dolore recusandae numquam rerum, dicta magni at quaerat id necessitatibus cum, ipsam neque
                atque iure quidem? </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero obcaecati provident minus recusandae
                molestias? Dolore recusandae numquam rerum, dicta magni at quaerat id necessitatibus cum, ipsam neque
                atque iure quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero obcaecati provident
                minus recusandae
                molestias? Dolore recusandae numquam rerum, dicta magni at quaerat id necessitatibus cum, ipsam neque
                atque iure quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero obcaecati provident
                minus recusandae
                molestias? Dolore recusandae numquam rerum, dicta magni at quaerat id necessitatibus cum, ipsam neque
                atque iure quidem? </p>
            <p>iofloc technology is a system to convert waste and toxic materials (like Ammonia, Nitrate, Nitrite) to useful matters which can also be used as feed for fish. By recycling proteins, Biofloc system helps to enrich water quality and reduce the risk of disease outbreaks. Probiotics used in Biofloc Technology play a significant role by destroying harmful bacteria in water. An important advantage of Biofloc system is that it requires zero or limited water exchange under high stocking density. </p>
        </div>

    </div>

</section>

{% endblock content %}

{% block script %}

{% endblock script %}