{% extends "layout/layout.html" %}
{% load static %}


{% block content %}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>Thank you for Subscribe Us.</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid eaque reprehenderit alias ut quam
                    enim aliquam corporis, consequatur perferendis necessitatibus laudantium magnam voluptates error
                    facere tempora illo esse at sunt.</p>

            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

{% endblock content %}